## Description 

The number, 197, is called a circular prime because all rotations of the digits: 197, 971, and 719, are themselves prime.

There are thirteen such primes below 100: 2, 3, 5, 7, 11, 13, 17, 31, 37, 71, 73, 79, and 97.

How many circular primes are there below one million?

In [14]:
import math
import itertools

In [15]:
def number_is_prime(number: int) -> bool:
    if number == 2:
        return True
    
    if number == 1 or (number % 2) == 0 :
        return False

    # Only need to until where r * r <= n
    r = math.floor(math.sqrt(number))
    possible_divisors = list(range(2, r+1))

    remainders_evenly_divisable = [number % x == 0 for x in possible_divisors]
    return not any(remainders_evenly_divisable)

In [73]:
def str_to_int(num: str) -> int:
    return int(num.lstrip("0"))

In [107]:
def make_circle_list(num: int) -> list:
    nums = [str(x) for x in str(num)]
    circle_list = [str_to_int("".join(nums))]
    l = len(nums)

    for i in range(1, l):
        temp = []
        for j in range(0, l):
            temp.append(nums[(i+j)%l])

        circle_num = str_to_int("".join(temp))
        circle_list.append(circle_num)

    return circle_list

In [111]:
num = 197
circle_list = make_circle_list(num)
all([number_is_prime(x) for x in circle_list])

In [117]:
l = []

for num in range(1, 10**6):
    circle_list = make_circle_list(num)
    if all([number_is_prime(x) for x in circle_list]):
        l.append(num)

2
3
5
7
11
13
17
31
37
71
73
79
97
113
131
197
199
311
337
373
719
733
919
971
991
1193
1931
3119
3779
7793
7937
9311
9377
11939
19391
19937
37199
39119
71993
91193
93719
93911
99371
193939
199933
319993
331999
391939
393919
919393
933199
939193
939391
993319
999331

In [120]:
len(l)

55